@model LibraryManagementSystem.Models.tblbooks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblbooks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBNNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBNNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
